[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
GitPython = "*"
certifi = "*"
requests = "*"
sphinxcontrib-phpdomain = "*"
sphinxcontrib-blockdiag = "*"
sphinxcontrib-seqdiag = "*"

[dev-packages]

[requires]
python_version = "3.7"
